@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

$dark: #000;
$light: azure;


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
   -ms-scroll-chaining: none;//prevents the parent elements from scrolling when the user scrolls on a child element
    overscroll-behavior: contain;//preventing the user from scrolling past the edges of element
}
body {
    color: $light;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $dark;
}
button{ font:inherit; }
a { text-decoration: none; }
li { list-style: none; }
img, ion-icon, button, a { display: block; }
span { display: inline-block; }


.header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65px;
    gap: 10px;
    .header--image{
      height: 60px;
      width: 60px;
    }
    .header--title{
      font-size: 2rem;
    }
}

main {
    //outline: 1px solid red;
    width: calc(80%);
    margin: 0 auto;
    .form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 10px;
    .form--button {
      grid-column: 1 / -1;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 0.9rem;
     }
    .form--input {
      border-radius: 5px;
      text-indent: 5px;
     }
    }
  .meme--image {
    width: 100%;
    margin: 20px 0;
  }
  .meme {
    position: relative;
  .meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    }

    .bottom {
        bottom: 0;
    }

    .top {
        top: 0;
    }
  }
}

